* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  /* min-height: calc(100vh - 65px); */
  height: 100vh;
  padding-top: 65px;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #e9e9e9;
  margin: 0;
  padding: 10px;
  height: 65px;
  z-index: 1000;
  box-shadow: 2px 2px 10px #929292;
}

header, nav, #video-title {
  font-family: 'KoHo', sans-serif;
}

header .logo {
  display: inline-block;
  font-size: 1.2em;
  margin: 3.5px 5px 0 0;
}
header .nav-menu {
  font-size: 2.5em;
  display: flex;
  align-items: center;
  margin-left: auto;
}
header .nav-menu i {
  display: inline-block;
  width: 44px;
  height: 44px;
  text-align: center;
}

.title h1 {
  margin: 0;
  font-size: 1.2em;
}

.caption {
  display: flex;
  align-items: center;
  font-size: .89em;
}

.caption a {
  margin: 0 0 0 7px;
  font-size: 1.3em;
}

.fa-linkedin {
  color: #0077b5;
}
.fa-github {
  color: black;
}

nav {
  background-color: #fff;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  width: 100%;
  padding: 0;
  margin: 0;
  border-bottom: thin solid #999;
  font-size: .8em;
}
nav ul li a {
  display: block;
  width: 100%;
  padding: 10px 10px 10px 20px;
  margin: 0;
  text-decoration: none;
  color: inherit;
}
nav ul li a:hover,
nav ul li a:focus,
nav ul li a.active {
  background-color: #eee;
  color: black;
}

nav {
  background-color: #494949;
  color: #fff;
  position: fixed;
  width: 0;
  right: 0;
  left: 0;
  bottom: 0;
  top: 65px;
  overflow-y: auto;
  transition: .5s;
  z-index: 100;
}
nav.show {
  width: 100%;
}

nav div[id^=chapter-] {
  cursor: pointer;
  position: relative;
  color: #eee;
  font-size: 1.5em;
  padding: 10px;
  border-bottom: thin solid #777;
}

div[id^=chapter-] i {
  position: absolute;
  left: calc(100vw - 50px);
  top: 50%;
  transform: rotate(270deg) translate(70%, 0%);
}

div[id^=chapter-].chapter-open i {
  transform: translate(0, -50%);
}

nav .hide-list {
  overflow: hidden;
  max-height: 0;
}
nav .show-list {
  max-height: 10000px;
}

#content {
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  min-height: calc(100vh - 65px);
  /* padding: 5px 20px 30px; */
  padding: 0 20px 30px;
}
#video-title {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  font-size: 2em;
}

#player {
  width: calc(100vw - 40px); /* 40px is the containers padding*/
  height: calc((100vw - 40px) * 0.5625);
  max-width: 854px;
  max-height: 480px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* for highlighing code with a <mark> element */
.hljs mark {
  background-color: #ffffff24;
  color: inherit;
  display: inline-block;
  font-weight: bold;
}

#github-button {
  margin: 15px 0 0 0;
}
/************************************************************************/
/* MEDIA QUERY FOR MEDIUM TO LARGE ***********************************  */
/************************************************************************/
@media screen and (min-width: 801px) {

  header {
    height: 100px;
  }
  header .logo {
    display: inline-block;
    font-size: 3em;
    margin: 2px 10px 10px;
  }
  header .nav-menu {
    display: none;
  }
  .title h1 {
    font-size: 2em;
  }
  .caption {
    font-size: 1em;
  }

  nav {
    position: absolute;
    right: initial;
    left: 0;
    top: 100px;
    width: 300px;
    padding-bottom: 100px;
  }
  div[id^=chapter-] i {
    left: 250px;
  }

  body {
    padding-top: 100px;
    padding-left: 300px;
  }
  #content {
    min-height: calc(100vh - 100px);
    top: 100px;
    left: 300px;
  }

  #player {
    width: calc(100vw - 340px); /* 40px is the containers padding*/
    height: calc((100vw - 340px) * 0.5625);
  }

}

@media screen and (max-width: 415px) {
  header .logo {
    display: none;
  }
  .title h1 {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 359px) {
  .title h1 {
    font-size: 1em;
  }
  .caption {
    font-size: .78em;
  }
}

nav::-webkit-scrollbar {
  width: 1em;
}

nav::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

nav::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

#star-github {
  text-align: center;
}
#star-github p {
  border: thin solid #ccc;
  padding: 7px 10px 10px;
  text-align: center;
  background-color: #ffebcd;
  box-shadow: 3px 5px 6px #ccc;
  border-radius: 15px;
  max-width: 620px;
  margin: 30px auto 0;
}

